@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

#App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px auto 1fr;
}

.timer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.pageImgContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-rows: 1fr;
  justify-content: center;
}

.pageImgWrapper {
  max-height: 450px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 50px;
  justify-items: center;
  align-items: center;
}

.pageImgContainer h3 {
  color: #6cff64;
  pointer-events: none;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

h2,
h3 {
  text-align: center;
  padding: 10px;
}

h4,
p {
  padding: 5px;
}

.pageImgWrapper img {
  max-height: 100px;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  pointer-events: none;
  object-fit: cover;
}

a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4c72ff;
  text-decoration: none;
}

a:hover {
  color: #1c47e6;
}
