#App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.homepage {
  display: flex;
}

.pageImgWrapper {
  height: 350px;
  width: 350px;
}

.pageImgWrapper img {
  max-width: 100%;
  pointer-events: none;
}

.pageImgWrapper h3 {
  pointer-events: none;
}
