.worldImgWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

.popup {
  height: 180px;
  position: absolute;
}

.targetBox {
  height: 40px;
  width: 40px;
  position: absolute;
  border: 2px solid red;
  background-color: lightblue;
}

.characterBox {
  width: 150px;
  background-color: rgba(255, 240, 245, 0.5);
}

.character {
  display: flex;
}

.correctAnswerPopup,
.wrongAnswerPopup {
  position: fixed;
  top: 20%;
  left: 50%;
  color: white;
  padding: 20px;
}

.correctAnswerPopup {
  background-color: green;
}

.wrongAnswerPopup {
  background-color: red;
}

.hidden {
  display: none;
}

.visible {
  display: visible;
  position: absolute;
  padding: 10px;
}

.playerInput {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.worldImgWrapper img {
  max-width: 100%;
}

.character img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.popup img,
.popup h4 {
  pointer-events: none;
}

.popup .character:hover {
  background-color: rgba(255, 164, 194, 0.8);
}
