.worldImgWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

.popup {
  height: 180px;
  position: absolute;
  display: flex;
}

.targetBox {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 3px solid #ff160c;
  border-radius: 50px;
  background-color: rgba(31, 79, 255, 0.5);
}

.characterBox {
  width: 150px;
  background-color: #11171d;
}

.character {
  padding: 5px;
  display: flex;
  align-items: center;
}

.correctAnswerPopup,
.wrongAnswerPopup {
  position: fixed;
  top: 20%;
  left: 50%;
  color: white;
  padding: 20px;
}

.correctAnswerPopup {
  background-color: #008000;
}

.wrongAnswerPopup {
  background-color: #ff0000;
}

.hidden {
  display: none;
}

.visible {
  display: visible;
  position: absolute;
  padding: 10px;
}

.playerInput {
  position: absolute;
  width: 300px;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background-color: #11171d;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto min-content;
}

.formScoreGroup {
  display: flex;
  flex-direction: column;
}

.addPlayerBtn {
  border: none;
  color: #ffffff;
  background-color: #008000;
  margin-top: 15px;
  padding: 10px 30px;
  align-self: self-end;
}

.errorMsg {
  color: #ee4444;
}

input {
  color: #ffffff;
  height: 35px;
  border: 1px solid #ffffff;
  background-color: #11171d;
}

.formScoreGroup:nth-child(1) label {
  padding: 10px 0px;
  align-self: center;
}

.playerInput h3 {
  font-size: 1.25rem;
}

form span {
  padding: 5px 0px;
  font-size: 14px;
}

.worldImgWrapper img {
  max-width: 100%;
}

.character img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.popup img,
.popup h4 {
  pointer-events: none;
}

.popup .character:hover {
  background-color: #3d2431;
}

.addPlayerBtn:hover {
  background-color: #006700;
}
